*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#logo{
    width: 13%;
    height: 5.7vh;
}
#herotext{
font-size: 50px;

}
#Mern{
    font-size: 40px;
}
#mobile{
    display: none;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}
#headercontact{
    text-decoration: none;
    color: white;
}
#name,li a {
    color: white;
}
ul{
    list-style-type: none;
}
ul a:hover{
text-decoration: underline;
border-bottom: 1px solid white;
scroll-behavior: smooth;
}
#mainimg{
    width: 31%;
    border-radius: 5px;
    /* transition-property: all 2s ease-in-out; */
      box-shadow: 0 4px 8px rgba(56, 189, 156, 0.5);
  transition: all 0.3s ease-in-out; 
}
#mainimg:hover{
      box-shadow: 0 13px 19px rgba(0, 0, 0, 0.4);
      cursor: pointer;
  transform: translateY(-5px); 

}
.heromotion{
    /* Optional: Add some basic styling */
    /* padding: 1px; */
    /* background-color: #f0f0f0; */
    /* text-align: center; */
    /* Apply the animation */
    animation: slideInFromLeft 1s ease-out forwards;
}

/* Define the animation using @keyframes */
@keyframes slideInFromLeft {
    0% {
        /* Starts the element completely off-screen to the left */
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        /* Ends the element at its original position (no horizontal translation) */
        transform: translateX(0);
        opacity: 1;
    }
}
#About{
    display: flex;
    flex-direction: row-reverse;
}
.Aboutmotion{
    /* Optional: Add some basic styling */
    /* padding: 1px; */
    /* background-color: #f0f0f0; */
    /* text-align: center; */
    /* Apply the animation */
    animation: slideInFromright 1s ease-out forwards;
}

/* Define the animation using @keyframes */
@keyframes slideInFromright {
    0% {
        /* Starts the element completely off-screen to the left */
        transform: translateX(100%);
        /* transform: translate3d(100%); */
        opacity: 0;
    }
    100% {
        /* Ends the element at its original position (no horizontal translation) */
        transform: translateX(0);
        opacity: 1;
    }
}
.CV{
    text-decoration: none;
    color: black;
}
#experiencecardtext{
    padding-bottom: 37px;
}
#skillcards{
    display: flex;
}
#skillcard{
    width: 75%;
   
    /* display: flex; */
    height: 100%;
    transition: transform 1s ease-out;
}
#skillcard1{
    width: 80%;
   
    /* display: flex; */
    height: 100%;
    transition: transform 1s ease-out;
}
#skillcard:hover, #skillcard1:hover{
    transform: scale(1.05);
    cursor: pointer;
}

#experiencecards{
    display: flex;
}
#experienceuptext{
width: 50%;
}
#experiencecard{
    transition: transform 0.5s ease-out;
}
#experiencecard:hover{
    transform: scale(0.95);
    cursor: pointer;
   
}
#projectuptext{
    width: 50%;
}
#projectcards{
    display: grid;
    /* margin: auto; */
    gap: 10px;
    grid-template-columns: repeat(3, 25%);
    /* justify-content: space-evenly; */
    justify-content: space-around;
    
}
#project{
    transition: transform 0.3s ease-out;

}
#project:hover{
    transform: scale(1.02);
    cursor: pointer;
   
}
#projectvideo{
    height: 200px;
    width: 300px;
}

#Projectlive{
    width: fit-content;
}
#Projectlive a{
    color: black;
 text-decoration: none;
}
video{
    width: 100%;
}
#Contactimg{
    width: 10%;
}
span a{
  color: black;
  text-decoration: none;
}
#textarea{
    padding: 15px 5px;
    height: 30vh;
    
}
#Contactarrow{
    width: 8%;
    margin-top: 4px;
    height: 5%;
}
#input{
    padding: 15px 15px;
}

#formbuttonimg{
    width: 13%;

}
#ContactMe{
    display: flex;
    gap: 60px;
}
.card{
    width: 17rem;
}
#form{
    width: 25%;
}
#formbutton{
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 0px;

}
body{
    position: relative;
}
#sidewhatsapp{
    width: 4%;
    position: fixed;
    bottom: 40px;
    transition: transform 0.3s ease;
    
    animation: floatUpDown 1.5s infinite ease-in-out;
    right: 20px;
   
}
@keyframes floatUpDown {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(20px); }
  100% { transform: translateY(0); }
}


#sidewhatsapp:hover{
    transform: scale(1.5);

}
#toogle,#label,#ul{
    display: none;
}


@media screen and (max-width: 600px) {
   #herotext{
    font-size: 40px;
   }
   #Mern{
    font-size: 20px;
   }
    #desktop li{
    display: none;
   }
   #mainimg{
    margin: auto;
    width: 70%;
    /* height: 35vh; */
   }
   #button{
    display: none;
   }
   #label{
    display: flex;
    color: white;
   }
   #toogle{
    display: none;
   }
 #hero{
    display: flex;
    flex-direction: column;
 }
 #About{
    display: flex;
    flex-direction: column;
 }
 #skillcard{
    /* width: 100%; */
 }
 #buttons{
    width: fit-content;
    margin: auto;
    margin-bottom: 15px;
 }
   #toogle:checked + #label + #ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    gap: 10px;
    background-color: rgb(19, 23, 52);
    width: 100%;
    text-align: center;
   }
   #skillcard1{
    width: 75%;
   }
   #skillcards{
    display: grid;
    grid-template-columns: repeat(1, 100%);
   }
   #experienceuptext{
    width: 75%;
   }
   #experiencecards{
    display: grid;
   }
   #projectuptext{
    width: 75%;
   }
     #projectcards{
    display: grid;
    grid-template-columns: 1fr;
   }
#ContactMe{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    width: 100%;
}
#form{
    width: 100%;
}
}

@media screen and (min-width: 601px) and (max-width: 769px) {
      #desktop li{
    display: none;
   }
    #buttons{
    width: fit-content;
    margin: auto;
    margin-bottom: 15px;
 }
    #toogle:checked + #label + #ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    gap: 10px;
    background-color: rgb(19, 23, 52);
    width: 100%;
    text-align: center;
   }
   #p{
    text-align: justify;
   }
   #hero,#About{
    gap: 70px;
   }
   #herotext{
    font-size: 38px;
   }
   #Mern{
    font-size: 28px;
   }
   #mainimg{
   width: 100%;
   height: 35vh;
   }
   #button{
    display: none;
   }
   #label{
    display: flex;
    color: white;
   }
   #toogle{
    display: none;  
}
#skillcards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#experienceuptext{
width: 70%;
}
#experiencecards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#project{
    height: 80vh;
}
#projectcards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#contactMe{
    display: flex;
    flex-direction:     ;
}

}